<div class="row">
  <div class="col-lg-12 text-center">

    <div class="col-lg-12 text-center">
      <h2>Plantel</h2>
      <br>
    </div>

    <div class="col-lg-3 text-center">
      <div class="text-primary">Guarda Redes</div>
      <br>
      <ul class="list-group" *ngIf="teamPlayers">
        <ng-container *ngFor="let key of teamPlayers.players">
          <li class="list-group-item" *ngIf="key.position.indexOf('Keeper') != -1">

            <span class="badge"> {{ key.jerseyNumber }} </span>
            {{ key.name}}

          </li>
        </ng-container>
      </ul>
    </div>

    <div class="col-lg-3 text-center">
      <div class="text-primary">Defesas</div>
      <br>
      <ul class="list-group" *ngIf="teamPlayers">
        <ng-container *ngFor="let key of teamPlayers.players">
          <li class="list-group-item" *ngIf="key.position.indexOf('Back') != -1">

            <span class="badge"> {{ key.jerseyNumber }} </span>
            {{ key.name}}

          </li>
        </ng-container>
      </ul>
    </div>

    <div class="col-lg-3 text-center">
      <div class="text-primary">Médios</div>
      <br>
      <ul class="list-group" *ngIf="teamPlayers">
        <ng-container *ngFor="let key of teamPlayers.players">
          <li class="list-group-item" *ngIf="key.position.indexOf('Midfield') != -1">

            <span class="badge"> {{ key.jerseyNumber }} </span>
            {{ key.name}}

          </li>
        </ng-container>
      </ul>
    </div>

    <div class="col-lg-3 text-center">
      <div class="text-primary">Avançados</div>
      <br>
      <ul class="list-group" *ngIf="teamPlayers">
        <ng-container *ngFor="let key of teamPlayers.players">
          <li class="list-group-item" *ngIf="key.position.indexOf('Forward') != -1">

            <span class="badge"> {{ key.jerseyNumber }} </span>
            {{ key.name}}

          </li>
        </ng-container>
      </ul>
    </div>

  </div>
</div>