.score {
    float: none;
    width: 10px;
}

.hometeam{
    text-align: right;
}

.date {
    width: 150px;
    text-align: center;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.col-lg-4.text-right {
    margin-left: 280px;
    margin-bottom: 5px;
}

.btn.btn-default.btn-sm {
    margin-left: 5px;
}

.nav-pills > li.active > a {
    background-color: #808080;
    border-color: #808080;
}

.nav-pills>.active>a>.badge {
    color: #808080;
    border-color: #808080;
}

