<div class="row">
  <div class="col-lg-5">
    <select class="form-control" [(ngModel)]="currentMatchday" (ngModelChange)="onChange(0,currentMatchday)">
      <option *ngFor="let key of arrayOfMatchdays | slice:1" [value]="key">Jornada {{key}}</option>
    </select>
    <br>
  </div>

  <div class="col-lg-4 text-right">
    <a [routerLink]="" (click)="onChange(1,0)" class="btn btn-default btn-sm">Jornada Anterior
      <<</a>
        <a [routerLink]="" (click)="onChange(2,0)" class="btn btn-default btn-sm">Jornada Seguinte >></a>
  </div>

  <div class="col-lg-12">

    <table class="table table-striped table-hover table-bordered" *ngIf="matches">
      <!--  -->
      <thead>
        <tr>
          <th class="left" colspan="4">Liga NOS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let key of matches.fixtures; let i = index">
          <td class="date"> {{key.date | date:'d/M/y HH:mm'}} </td>
          <td class="hometeam">{{key.homeTeamName}} </td>
          <td class="score">
            <ul class="nav nav-pills">
              <li class="active">
                <a routerLink="/head2head/{{ getLastOccurrence(key._links.self.href) }}">
                  <span class="badge" *ngIf="key.result.goalsHomeTeam !== null && key.result.goalsAwayTeam !== null; else versus">{{key.result.goalsHomeTeam}} - {{key.result.goalsAwayTeam}}</span>
                  <ng-template #versus>vs</ng-template>
                </a>
              </li>
            </ul>
          </td>
          <td>{{key.awayTeamName}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>