th {
    text-align: center;
}

.table-bordered>thead>tr>th {
    border: 2px solid #dddddd;
}

.left {
    text-align: left;
    font-weight: normal;
}

.glyphicon.glyphicon-circle-arrow-up {
    color:  #00ff00;
}

.glyphicon.glyphicon-circle-arrow-down {
    color: #ff3300;
}